#index-forms {
  max-width: 330px;
  padding: 100px 15px 15px;
  margin: 0 auto;
}

a#sign-out {
	color: #999999;
}

a#sign-out:hover {
	color: #F8F8F8;
}

input#input-submit-display-none {
	display:none;
}

#chat {
	padding-top: 43px;
	margin-left: 0;
	margin-right: 0;
}

ul#nicks, ul#nicks li {
	list-style: none;
}

ul#nicks {
	padding-left: 0;
}

ul#nicks li {
	margin-bottom:3px;
}

#messages {
	padding-left: 7px;
    overflow-x: hidden;
    overflow-y: scroll;
}


span.time-message {
	padding-right: 3px;
}

div.message{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

a.nick-link {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

li.channel {
    display: inline; 
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	list-style: none;
	padding-right: 5px;
}

ul#ul-channels {
	margin-bottom: 3px;
    padding-left: 7px;
	background-color: #EEEEEE;
}

#nicks-div {
    overflow-x: hidden;
    overflow-y: scroll;
	height: 300px;
}

p#auth-error {
    color: red;
    font-size: 18px;
    padding-left: 1px;
}

.server {
    color: #428BCA;
}

.own-message {
    color: #777777;
}

li.me a.nick-link {
    color: darkblue;
}

li.channel a.link-channel {
    padding: 0;
}

ul.ui-menu {
    z-index: 9999;
}

a.nick-link:hover {
    text-decoration: none;
}