<% layout('../layouts/default') -%>


<div class="container">
    <div id="index-forms">
          <form class="form-signin" action="/users/session" method="post">
              <h2 class="form-signin-heading">Please sign in</h2>
              <p id="auth-error"><%=message%></p>
              <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
              <input name="email" type="email" class="form-control" placeholder="Email" autofocus required>
              <input name="password" type="password" class="form-control" placeholder="Password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
    </div>
</div>