<% layout('../layouts/default') -%>


<div class="container">
    <div id="index-forms">
        <h1>Profile</h1>
        <h2>login: <%=user.username%></h2>
        <h2>email: <%=user.email%></h2>
    </div>
</div>