<% layout('../layouts/default') -%>


<div class="container">
    <div id="index-forms">
        <div id="myTabContent" class="tab-content">
            <form class="form-signin" action="/users" method="post">
                <h2 class="form-signin-heading">Please register</h2>
                <p id="auth-error"><%=message%></p>
                <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
                <input name="username" value="<%=user.username%>" type="text" class="form-control" placeholder="Login" autofocus required>
                <input name="email" value="<%=user.email%>" type="email" class="form-control" placeholder="Email" required>
                <input name="password" type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>