<% layout('../layouts/default') -%>


<div class="container">
    <div id="index-forms">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#login">Sign in</a></li>
            <li class=""><a data-toggle="tab" href="#create">Register</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="login" class="tab-pane active">
                <form class="form-signin" action="/users/session" method="post">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <p id="auth-error"><%=message%></p>
                    <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
                    <input name="email" type="email" class="form-control" placeholder="Email" autofocus required>
                    <input name="password" type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
            <div id="create" class="tab-pane">
                <form class="form-signin" action="/users" method="post">
                    <h2 class="form-signin-heading">Please register</h2>
                    <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
                    <input name="username" value="<%=user.username%>" type="text" class="form-control" placeholder="Login" autofocus required>
                    <input name="email" value="<%=user.email%>" type="email" class="form-control" placeholder="Email" required>
                    <input name="password" type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>