<% layout('../layouts/default') -%>

<link href="/css/jquery-ui.css" rel="stylesheet">

<script src="./socket.io/socket.io.js"></script>
<script src="./js/chat-client.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.ui-contextmenu.min.js"></script>
<script src="/js/common-scripts.js"></script>

<!-- Modal -->
<div class="modal fade" id="joinARoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Join a Room</h4>
            </div>
            <div class="modal-body">
                <input name="input-channel" type="text" id="input-channel" class="form-control" placeholder="Room" autofocus>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="join-a-room-button" type="button" class="btn btn-primary" data-dismiss="modal">Join</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container-liquid">
    <div id="chat" class="row">
        <div class="col-md-10 tab-content" id="messages">
        </div>
        <div id="nicks-div" class="col-md-2">
            <ul id="nicks">
            </ul>
        </div>
    </div>

    <div class="navbar-fixed-bottom">
        <form id="form-chat" class="form-inline" role="form">
            <input autocomplete="off" type="text" class="form-control" id="input-message" placeholder="Message" autofocus />
            <input value="button" type="button" id="input-submit-display-none">
        </form>
    </div>
</div>