<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Simply chat</a>
        </div>
        <div class="collapse navbar-collapse">
            <% if(req.isAuthenticated()) {  %>
                <p class="navbar-text pull-right">
                    Logged in as <a class="navbar-link" href="/users/<%=req.user.id%>"><%=req.user.username %></a> (<a id="sign-out" href="/logout">Sign out</a>)
                </p>
            <% } %>
            <ul class="nav navbar-nav">
                <% if(req.isAuthenticated()) {  %>
                    <li class="active"><a data-toggle="modal" href="/chat#joinARoomModal">Join a Room</a></li>
                    <% if (req.user._id == 0) { %>
                        <li class="active"><a target="_blank" href="/export-users">Export users</a></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <% if (req.url.trim() == "/chat") { %>
        <div id="channels">
            <ul id="ul-channels" class="nav nav-tabs">
            </ul>
        </div>
    <% } %>
</div>

    <%-body -%>

</body>
</html>